{% extends "core/base.html" %}
{% load static %}
{% block content %}
<div class="container col-sm-8 mt-5 text-white">
    <div class="d-flex flex-column ">
        <h2 class="fw-medium">
            About Us 
        </h2>
        <p class="lead">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, quisquam commodi cupiditate iure mollitia eius fugit voluptatem facilis. Tenetur animi enim error facere eveniet molestiae quisquam? Aspernatur non laborum eveniet voluptas ratione soluta hic sed obcaecati eligendi sint fugiat error, minima ex? Dicta nobis, similique veniam placeat non nemo repudiandae.
        </p>
        <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium omnis expedita incidunt eveniet sit placeat, quibusdam provident libero cumque magni quis harum cupiditate et labore deleniti deserunt alias ipsa sapiente id aliquid dolores quam aperiam eligendi fugit. Distinctio vero aspernatur ipsum at iste nulla dicta vitae ratione laborum explicabo culpa sit suscipit minima sapiente, quod optio. Possimus placeat itaque libero iusto, tempora fugiat vitae adipisci quasi dignissimos minima, iste dolorum doloremque consectetur ipsa vel delectus non rem voluptatibus assumenda nisi!
        </p>
        <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi modi qui, incidunt eveniet fugit quam ipsum, dolorum earum ad tenetur nisi quae vitae sapiente officiis numquam ullam natus illum eligendi.
        </p>
    </div>
</div>
{% endblock content %}